:root{

    .button1{
        display: flex;
        padding: 0.75rem 1.5rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        border-radius: 7.375rem;
        border: 1.5px solid var(--neutral-100, #2C2F24);
        transition: 1.2s;
        color: var(--neutral-100, #2C2F24);
        background-color: transparent;
        text-align: right;
        font-family:var(--font2);
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5rem;
        
        &:hover{
            cursor: pointer;
            background: var(--neutral-20, #DBDFD0);
        }
 
    }

}