:root{
    --font1:"Playfair Display";
    --font2:"DM Sans";

    --dark-grey:#474747;
    --neutral-10:#F9F9F7;
    --neutral-100:#2C2F24;
    --neutral-20:#DBDFD0;
    --neutral-80:#414536;
    --neutral-60:#737865;
    --neutral-40:#ADB29E;
    --primary:#AD343E;
    --secondary:#182226;

    
}