.footer{
    width: 100rem;
    height: 48.625rem;
    padding: 5.5rem 9.5rem;
    justify-content: center;
    align-items: center;
    background: var(--dark-grey, #474747);
    .content__footer{
         gap: 6.25rem;
    }
    .top-footer{
        display: flex;
        align-items: flex-start;
        gap: 8.4375rem;
        .column1{
            display: flex;
            flex-direction: column;
            align-items:start;
            gap: 1.875rem;
            .column1__div{
                display:flex;
                align-items: center;
                gap:0.86rem;
                .footer__h1{
                    color: var(--neutral-10, #F9F9F7);
                    font-family:var(--font1);
                    font-size: 2.04188rem;
                    font-style: italic;
                    font-weight: 600;
                    line-height: 1.83331rem;
                    letter-spacing: -0.025rem;
                }
            }
            .column1__p{
                width: 18.3125rem;
                color: var(--neutral-40, #ADB29E);
                font-family: var(--font2);
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.5rem; 
            }
            .column1__ul{
                display:flex;
                gap:0.75rem;
                img{
                    width: 2.1875rem;
                    height: 2.1875rem;
                    border-radius: 2.1875rem;
                    background: var(--primary, #AD343E);
                    padding: 0.4rem;
                }
            }
            .column1__li:hover{
                cursor: pointer;
            }
        }
        .column2{
            display: flex;
            gap:7.5rem;
            .columna2, .columna3{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 2.5rem;
                .column2__p{
                    color: var(--neutral-10, #F9F9F7);
                    font-family:var(--font2);
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 1.5rem;
                }
                .column2__ul{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 1.25rem;
                    li{
                        color: var(--Neutral-20, #DBDFD0);
                        font-family: "DM Sans";
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.5rem; 
                        &:hover{
                            cursor: pointer;
                        }
                    }

                }
            }
        }
        .column3{
            gap:2.5rem;
            .column3__p{
                color: var(--neutral-10, #F9F9F7);
                font-family:var(--font2);
                font-size: 1rem;
                font-style: normal;
                font-weight: 700;
                line-height: 1.5rem;
            }
            .column3__div{
                display:grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap:1rem;
                img{
                    border-radius: 0.75rem;
                }
            }
        }
    }
    .copyright{
        color: var(--neutral-40, #ADB29E);
        font-family: var(--font2);
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem; 
        text-align: center;
    }
}