section.hero{ 
    background-image: 
    linear-gradient( rgba(255, 255, 255, 0.25)),
    url(/styles/images/Hero.png);
    background-repeat: no-repeat; 
    padding: 12.6875rem 0;    
    .hero__div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
        .hero__title{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            h2{
                width: 41.6875rem;
                color: var(--dark-grey, #474747);
                text-align: center;
                font-family: var(--font1);
                font-size: 6.25rem;
                font-style: normal;
                font-weight: 400;
                line-height: 6rem; 
            }
            p{
                width: 33.5625rem;
                color: var(--dark-grey, #474747);
                text-align: center;
                font-family:var(--font2);
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 400;
                line-height: 2rem; 
            }
        }
        .hero__buttons{
            display:flex;
            gap:1rem;
        }
    }
}