section.menu{
    height: 44.5rem;
    padding: 6.62rem 9.5rem;
    justify-content: center;
    align-items: center;
    gap:4rem;
    .menu__ul{
        display:flex;
        gap:1.5rem;
        .menu__li{
            width: 19.125rem;
            height: 23.4375rem;
            padding:2.34rem 2.12rem 1.84rem 2.12rem;
            border-radius: 0.75rem;
            border: 1.5px solid var(--neutral-20, #DBDFD0);
            background: var(--neutral-10, #F9F9F7);
            .menu__article{
                display: inline-flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap:2rem;
                
                span{
                    display: flex;
                    background-color:#f5f6f4;
                    border-radius: 50%;
                    padding: 1.6rem;
                    justify-items: center;
                }
                .menu__div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap:1rem;
                    .menu-div__title{
                        color: var(--secondary, #182226);
                        text-align: center;
                        font-family:var(--font2);
                        font-size: 1.5rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 1.875rem;
                        letter-spacing: -0.045rem;
                    }
                    .menu-div__text{
                        width: 14.875rem;
                        color: var(--neutral-80, #414536);
                        text-align: center;
                        font-family:var(--font2);
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.5rem; 
                    }
                }
            }
        }
    }
}