section.services{
    height: 54.25rem;
    padding: 7.5rem 9.5rem; 
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid #000;
    .services__content{
        align-items: flex-start;
        gap:4rem;
        .services-content__h2{
            width: 42.1875rem;
            text-align: start;
        }
        .services-content__ul{
            display: flex;
            gap: 1.5rem;
            .services-content__article{
                width: 19.125rem;
                height: 27.6875rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 1.875rem;
                .services-content__div{
                    width: 17.5rem;
                    gap: 0.9375rem;
                    .services-content__h3{
                        color: var(--secondary, #182226);
                        font-family: var(--font2);
                        font-size: 1.5rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 1.875rem;
                        letter-spacing: -0.045rem;
                    }
                    .services-content__p{
                        color: var(--neutral-80, #414536);
                        font-family: var(--font2);
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.5rem;
                    }
                }
            }
            
        }
    }
}