html{
     width: 100rem;

     .flex{
          display:flex;
          flex-direction: column;
     }
     .h2-title{
          color: var(--secondary, #182226);
          text-align: center;
          font-family:var(--font1);
          font-size: 3.4375rem;
          font-style: normal;
          font-weight: 500;
          line-height: 3.78125rem;
     }
     .h3-title{
          color: var(--primary, #AD343E);
          text-align: center;
          font-family: var(--font2);
          font-size: 1rem;
          font-style: normal;
          font-weight: 700;
          line-height: 1.5rem;
     }
}